# Compiled binaries
*.exe
*.o
*.out
a.out

# Build directories
build/
bin/

# Dependency directories
node_modules/
**/node_modules/

# Logs and Env
*.log
.env
.env.*

# IDE files
.vscode/
.idea/
*.user

# OS files
.DS_Store
Thumbs.db
